.MuiList-padding {
    padding-top: 0px;
    padding-bottom: 8px;
    background: #4C8C40;
}

.jss3 {
    z-index: 1;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    background: #eee;
}

.jss9 {
    width: 200px !important;
    position: relative;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    white-space: nowrap;
}

.MuiDrawer-paperAnchorDockedLeft {
    border-right: 0px;
    background: #4C8C40;
}

.MuiListItemIcon-root {
    color: rgba(0, 0, 0, 0.54);
    display: inline-flex;
    min-width: 30px !important;
    flex-shrink: 0;
}

.MuiSvgIcon-root {
    font-size: 1.1rem;
    position: relative;
    top: 2px;
}

.MuiIconButton-root {
    font-size: 1rem;
}

.MuiIconButton-root .MuiSvgIcon-root {
    top: 0px !important;
}

.MuiListItem-button {
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid #6fb262 !important;
}

.MuiListItem-button a {
    text-decoration: none;
}

.MuiIconButton-label {
    font-size: 15px !important;
}